/* #region Base style */
body {
    font-family: 'Poppins', 'Montserrat', 'Inter', sans-serif;
    color: #22343d;
    background-color: #FFFFFF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* #region Common style */
.container {
    max-width: 411px;
    padding: 0 31px;
    margin: 0 auto;
}
@media only screen and (min-width: 1150px) {
    .container {
        max-width: 1150px;
        padding: 0 20px;}
}

/* #endregion */

/* #region Header */
.header-box {padding: 17px 27px 17px 32px;}
@media only screen and (min-width: 1150px) {
    .header-box {
            padding: 22px 20px;
            display: flex;
            align-items: center;
        }
}

.nav-box {display: flex;
justify-content: space-between;
margin-right: auto;}

.logo-box {
}

.logo-img {}

.logo-link {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
}

.btn-mob-menu {
border: none;
background-color: transparent;
padding: 0;
}
@media only screen and (min-width: 1150px) {
.btn-mob-menu {display: none;}
}

.nav-list {
    display: none;
}
@media only screen and (min-width: 1150px) {
    .nav-list {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-left: 237px;
    }
}
.text-semibold {
    font-weight: 600;
}
.nav-item {}

.nav-link {
    line-height: 175%;
    color: #22343d;
}

.button-list {
    display: none;
}
@media only screen and (min-width: 1150px) {
    .button-list {
        display: flex;
        gap: 21px;
        }
}

.button-item {}

.btn-header {
    border-radius: 4px;
    background: #02897a;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #fff;
    padding: 9px 25px;
    
}
.btn-transparent {
    border: 1px solid #bcd0e5;
    background-color: transparent;
    font-weight: 600;
    color: #173a56;
}
/* #endregion */

/* #region Hero */
.hero-box {
    padding-top: 31px;
    padding-bottom: 50px;
}
@media only screen and (min-width: 1150px) {
    .hero-box {
        display: flex;
        margin-top: 25px;
        gap: 35px;
        flex-direction: row-reverse;
        }
}
.hero-img {
    max-width: 338px;
    margin-bottom: 11px;
}
@media only screen and (min-width: 1150px) {
    .hero-img {
        max-width: 610px;
        margin-bottom: 0;}
}
.hero-wrapper {
    display: block
}
.subject {
    font-size: 36px;
    line-height: 167%;
    text-align: center;
    color: #22343d;
}
@media only screen and (min-width: 1150px) {
    .subject {
        text-align: left;
        margin-top: 112px;
        font-size: 40px;
        line-height: 150%;
        margin-bottom: 18px;
    }
}
.text {
    max-width: 326px;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #22343d;
    margin-bottom: 32px;
}
@media only screen and (min-width: 1150px) {
    .text {
        max-width: 465px;
        text-align: left;
        margin-bottom: 45px;}
}

.hero-list {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 1150px) {
    .hero-list {
        gap: 30px;
        justify-content: left;}
}

.hero-item {}

.hero-btn {
    border: none;
    border-radius: 4px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 14px 24px;
    cursor: pointer;
}
@media only screen and (min-width: 1150px) {
    .hero-btn {
        padding: 14px 42px;
    }
}

.hero-btn-triangle {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    cursor: pointer;
}

.icon-triangle {
    border-radius: 1px;
    fill: #02897a;
    margin-right: 9px;
}
/* #endregion */

/* #region Our Clients */
.clients-box {
    padding-top: 50px;
    padding-bottom: 77px;
}
@media only screen and (min-width: 1150px) {
    .clients-box {
        padding-top: 100px;
        padding-bottom: 117px;}
}

.subtitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 38px;}

@media only screen and (min-width: 1150px) {
    .subtitle {
        font-size: 40px;
        margin-bottom: 50px;}
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 52px;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 1150px) {
    .clients-list {
        gap: 64px;
        justify-content: center;
    }
}

.clients-item {}

.clients-icon {}

.microsoft-icon {
    width: 164px;
    height: 34px;
}
@media only screen and (min-width: 1150px) {
    .microsoft-icon {
        width: 213px;
        height: 44px;
    }
}

/* #endregion */
